<h2>新規登録</h2>

<%= form_with model: resource, as: resource_name, url: '/users', local: true do |f| %>
  <div>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>